body{

    background-color: #00CED1; 
}
#main{
  padding: 10px; 
  color:white; 
  background-color:#4169E1;
}
#game-form{
    padding-top:50px;
}
#board-title{
    text-align: center;
    background-color: #6495ED;
    color: white;
    padding: 20px;
}
.icon{

    margin-right: 10px;

}

/* table */
#board-body{

    padding: 10px;
    border: 2px solid grey;


}
table {
    width: 100%;
	height: 200px;
    border-collapse: collapse;
    
}
td{
	width: 20%;
	border: 2px solid grey;
	text-align: center;
	vertical-align: center;
    height: 80px;
    font-size: 16px;

}
td:first-of-type {
	border-left-color: transparent;
	border-top-color: transparent;
}
td:nth-of-type(2) {
	border-top-color: transparent;
}
td:nth-of-type(3) {
	border-right-color: transparent;
	border-top-color: transparent;
}
tr:nth-of-type(3) td {
	border-bottom-color: transparent;
}



#play{

   color:white; 
   background-color:#bb81ac;
}